html, body, div {
    background-color: #242;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


#soundboard-container-div {
    height: 100vh;
    width: 100vw;  
    color: #d5ebdc;
}

.soundboard-div > p {
    background-color: #898;
}

.sound-box-div {
    position: absolute;
    width: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
    user-select: none;
  }
  .sound-box-div:hover {
    background-color: rgb(201, 125, 125);
  }
  .sound-box-div:hover {
    background-color: rgb(201, 125, 125);
  }


  .sound-controlpanel-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #009688;
  }

  .dragBox-div {
    width: 10px;
    height: 10px;
    border: 2px solid blue;
    cursor: move;
  }
  .dragBox-div:hover {
    border: 2px solid rgb(160, 160, 255);
    background-color: blue;
  }
  .dragbox-div:active {
    border: 2px solid rgb(53, 53, 145);
    background-color: rgb(224, 224, 255);
  }

  .deleteBox-div {
    margin: 0;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(85, 42, 42);
      position: relative;
      background-color: transparent;
      box-shadow: 
          5px 5px 0 0 black,
          5px -5px 0 0 black,
          -5px 5px 0 0 black,
          -5px -5px 0 0 black;
  }
  .deleteBox-div:hover {
    border: 2px solid #ff7474;
    background-color: red;
  }
  .groupBox-div {
    margin: 0;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(0, 255, 106);
  }
  .topRightButtonsBox-div {
    display: flex;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .volume-slider-input {
      writing-mode: vertical-lr;
      direction: rtl;
      appearance: slider-vertical;
      width: 5px;
      height: 40px;
      vertical-align: bottom;
  }

  #soundboard-controlpanel-div {
    display: flex;
    background-color: #222;
    border: 2px solid #585;
    padding: 2px;
    width: 250px;
    color: #d6eccd
  }

  #soundboard-controlpanel-div > #sc-stopbutton-div {
    border: 2px solid darkred;
    background-color: red;
    width: 25px;
    height: 25px;
  }
  #soundboard-controlpanel-div > #sc-stopbutton-div:hover {
    background-color: #ff6666;
  }
  #soundboard-controlpanel-div > #sc-stopbutton-div:active {
    background-color: #ffbebe;
  }

  #soundboard-controlpanel-div > #sc-playallbutton-div {
   border: 2px solid green;
   width: 25px;
   height: 25px; 
  }
  #soundboard-controlpanel-div > #sc-playallbutton-div:hover {
    background-color: #44ff55;

  }
  #soundboard-controlpanel-div > #sc-playallbutton-div:active {
    background-color: #bbffc1;
  }

  #soundboard-controlpanel-div > #sc-testbutton-div {
   border: 2px solid rgb(17, 0, 128);
   width: 25px;
   height: 25px; 
  }
  #soundboard-controlpanel-div > #sc-testbutton-div:hover {
    background-color: #44ff55;

  }
  #soundboard-controlpanel-div > #sc-testbutton-div:active {
    background-color: #bbffc1;
  }

  #soundboard-controlpanel-div > #sc-savebutton-div {
   border: 2px solid rgb(139, 167, 195);
   width: 25px;
   height: 25px; 
  }
  
  #soundboard-controlpanel-div > #sc-savebutton-div:hover {
    background-color: #696d95;

  }
  #soundboard-controlpanel-div > #sc-savebutton-div:active {
    background-color: #d1c5f1;
  }

  .selected {
    background-color: rgb(32, 44, 110);
  }

